/* Universal Styles  */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Section */

.header {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  max-height: 69px;
  width: 100%;
  align-items: center;
  z-index: 2;
  background-color: black;
}
.logo {
  height: 50px;
  padding: 0px 10px;
}
nav span {
  text-decoration: underline;
  padding: 0px 10px;
  justify-content: space-around;
}

/* Our Mission Section */

.mission {
  display: flex;
  position: relative;
  top: 59px;
  left: auto;
  right: auto;
  height: 700px;
  width: 1200px;
  background-image: url("../images/background.jpg");
  align-items: center;
}
.stripe {
  background-color: black;
  width: 100%;
}

/* Tea of the Month Section */

.month {
  position: relative;
  width: 1000px;
  top: 100px;
}
.teas {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.pics {
  max-width: 300px;
  max-height: 200px;
}
.type {
  margin: 10px;
}

/* Locations Section */

.locations {
  position: relative;
  top: 100px;
  background-image: url("../images/locations.jpg");
  height: 500px;
  width: 1200px;
}
.loca {
  display: block;
  position: relative;
  top: 50px;
}
.areas {
  position: relative;
  top: 15px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
.area {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin: 20px;
  width: 300px;
  height: 300px;
  opacity: 1;
}
.area span {
  margin: 20px;
}

/* Contact Section */

.contact {
  position: relative;
  top: 100px;
  height: 200px;
}

/* Copyright */

.copyright {
  position: relative;
  top: 100px;
  text-align: left;
  padding: 20px;
}
